<header>
  <div id="logo">
    <a href="/">
      <img src="http://www.solta.com/sites/all/themes/soltazen/images/logo.png" alt>
    </a>
  </div>
        
  <div id="global_item">
    <form id="search_form" class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="search_txt form-control" placeholder="Search">
      </div>
      <button type="submit" class="search_btn btn btn-default btn-xs"><span class="glyphicon glyphicon-circle-arrow-right"></span></button>
    </form>
            
    <nav class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">COMPANY</a>
          <ul class="dropdown-menu">
            <li><a href="#">History</a></li>
            <li><a href="#">Visionary Leadership</a></li>
          </ul>
        </li>
              
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">MARKETS</a>
          <ul class="dropdown-menu">
            <li><a href="#">Skin Tightening</a></li>
            <li><a href="#">Body Contouring</a></li>
          </ul>
        </li>
              
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">BRANDS</a>
          <ul class="dropdown-menu">
            <li><a href="#">Thermage</a></li>
            <li><a href="#">Liposonix</a></li>
          </ul>
        </li>
              
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">INVESTORS</a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile & Analysts</a></li>
            <li><a href="#">SEC & Reports</a></li>
          </ul>
        </li>
              
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">CONTACT US</a>
          <ul class="dropdown-menu">
            <li><a href="#">Contact Form</a></li>
            <li><a href="#">Distributor List</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
      
<div id="main_content">
  <article>
    <div id="side_btns">
            
    </div>
    <div id="main_view" class="slideShow">
      <div class="slides">
        <div id="main_img01" class="slide">
          <img src="http://www.solta.com/sites/default/files/homepage_main-home7.png" />
          <div id="main_text01">
            <h1>Imagination + Creativity</h1>
            <p>It’s a part of our culture – an inner drive to imagine and create new technological solutions to aesthetic issues. For us, “innovation” isn’t a catch phrase, it’s part of our DNA. And it shows – in our hundreds of patents, our innovative products and the new treatment methodologies that we have brought to market year after year.</p>
          </div>
        </div>
              
        <div id="main_img02" class="slide">
          <img src="http://www.solta.com/sites/default/files/homepage_main-home6.png" />
          <div id="main_text01">
            <h1>Results that Speak for Themselves</h1>
            <p>Solta treatments are proven safe and effective – over the last decade, physicians around the world have performed more than two million treatments using Solta devices. Patient after patient, study after study, our transformative results speak for themselves.</p>
          </div>
        </div>
      </div>
    </div>  
  </article>
        
  <aside>
    <div class="row side_regions">
      <div class="col-md-3">
        <div class="side_region">
          <h2>Company</h2>
          <p>Over a decade of leadership. Solta Medical continues to redefine the aesthetics industry.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="side_region">
          <h2>Markets</h2>
          <p>Solutions that span the continuum of care. Learn about our treatment options and the markets we serve.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="side_region">
          <h2>Brands</h2>
          <p>Devices designed with the patient in mind. Learn more about our portfolio of products.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="side_region">
          <h2>Investors</h2>
          <p>A dynamic, global business defining an evolving and expanding industry with breakthrough technologies.</p>
        </div>
      </div>
    </div>
          
          
  </aside>
</div>
      
<footer>
      
</footer>
